#titulo {
  margin: 5%;
  color: #ef4a2e;
  text-align: left;
}

main {
  text-align: left;
}

#registro {
  margin: 0 5%;
}
#registro div {
  margin-bottom: 1%;
}
/* nth-child(2) com o numero seleciona a determiado elemento na ordem numerica  */
#registro div:last-child{
  margin-top: 2%;
}

label {
  display: block;
  font-weight: bold;
}

input {
  line-height: 1.3rem;
  width: 25%;
}
.inserir {
  background-color: orange;
}
.listar {
  background-color: green;
}
table {
  border-collapse: collapse;
  margin: 5% auto 0;
  width: 60%;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #333;
}
th {
  background-color: lightskyblue;
  padding: 0 2%
}
/* odd seleciona elementos impares */
/* even seleciona elementos pares */
tr:nth-child(odd) {
  background-color: #ccc;
}
td {
  font: 1.3rem;
}

.melhores {
  background-color: green;
}

.intermediario {
  background-color: blue;
}

.baixo {
  background-color: yellow;
}